@inject Serenity.ITextLocalizer Localizer
@{
    ViewData["Title"] = "Pengembalian";
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SerenPro.Perpustakaan.PengembalianGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>